<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vintagerags-admin</title>
  <link rel="shortcut icon" type="image/png" href="../../static/admin/images/logos/favicon.png" />
  <link rel="stylesheet" href="../../static/admin/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a class="js-logo-clone"
                  style="font-size: 32px;display:flex;justify-content:  center;margin-top: -20px;">VintageRags</a>
                <p style="display: flex;justify-content: center;font-size: large;">Admin Login</p>
                <form class="loginForm" action="/admin/adminlogin" method="post"
                  onsubmit="return validateEmail() && validatePassword()">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                      onkeyup="validateEmail()" required>
                    <span id="emailerror"></span>
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                      onkeyup="validatePassword()" required>
                    <span id="passwordError"></span>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Login</button>
                  <% if(passwordError){ %>
                    <div class="alter text-danger text-start">
                      <%= passwordError %>
                    </div>
                    <% } %>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function validateEmail() {
      var emailError = document.getElementById('emailerror');
      var email = document.getElementById('email').value;
      if (!email.match(/^[A-Za-z\._\-[0-9]+@[A-Za-z]+\.[a-z]{2,}$/)) {
        emailError.innerHTML = 'Email is invalid'
        return false;
      } else {
        emailError.innerHTML = ''
        return true;
      }

    }
    function validatePassword() {
      var passwordError = document.getElementById('passwordError');
      var password = document.getElementById('password').value;

      if (!password.match(/^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()-_+=<>?])[A-Za-z\d\S]{8,}$/)) {
        passwordError.innerHTML = 'Password must meet the following criteria:<br>' +
          '- At least 8 characters in length<br>' +
          '- At least one letter (uppercase or lowercase)<br>' +
          '- At least one digit<br>' +
          '- At least one symbol';
        return false;
      } else {
        passwordError.innerHTML = '';
        return true;
      }
    } 
  </script>
  <script src="../../static/admin/libs/jquery/dist/jquery.min.js"></script>
  <script src="../../static/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>