<!DOCTYPE html>
<html lang="en">

<head>
    <title>VintageRags</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="../../static/images/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
    <link rel="stylesheet" href="../../static/css/magiczoom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">



    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="../static/css/aos.css">

    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        /* Custom CSS for moving the container down */
        .container {
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="card mt-5" style="max-width: 400px; margin: auto;">
            <div class="card-body">
                <form action="/newPasswordPost" method="post" onsubmit="return validatePassword()">
                    <h1 class="card-title text-center">Enter your new Password</h1>
                    <div class="form-group">
                        <label for="password">New Password:</label>
                        <input type="password" id="password" class="form-control" name="password"
                            placeholder="New password.." onkeyup="validatePassword()" required>
                    </div>
                    <div class="form-group">
                        <label for="cpassword">Confirm New Password:</label>
                        <input type="password" id="cpassword" class="form-control" name="cpassword"
                            placeholder="Confirm new password.." onkeyup="validatePassword()" required>
                    </div>
                    <span id="passwordError"></span>
                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                    <% if(passwordError&&passwordError.length>0){%>
                        <div class="alert alert-danger mt-3" role="alert">
                            <%=passwordError%>
                        </div>
                        <%}%>
                </form>
            </div>
        </div>
    </div>


    <script>
        function validatePassword() {
            var passwordError = document.getElementById('passwordError');
            var password = document.getElementById('password').value;

            if (!password.match(/^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()-_+=<>?])[A-Za-z\d\S]{8,}$/)) {
                passwordError.innerHTML = 'Password must meet the following criteria:<br>' +
                    '- At least 8 characters in length<br>' +
                    '- At least one letter (uppercase or lowercase)<br>' +
                    '- At least one digit<br>' +
                    '- At least one symbol';
                return false;
            } else {
                passwordError.innerHTML = '';
                return true;
            }
        } 
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"></script>
    <script src="../../static/js/magiczoom.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/aos.js"></script>

    <script src="../static/js/main.js"></script>

</body>

</html>